.btn {
    display: inline-block;
    border-radius: 10px;
    border: none;
    color: var(--button-text-color);
    background-color: var(--button-primary-color);
    text-align: center;
    font-size: 17px;
    padding: var(--padding-5) var(--padding-10);
    transition: var(--tran-03);
    cursor: pointer;
}

.button-primary{
    height: 40px;
    text-align: center;
}

.btn:hover{
    background-color: var(--button-primary-color-light);
}