.editor-container{
    height: 100%;
    padding: var(--padding-10);
    transition: var(--tran-02);
}

.json-editor{
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-color: var(--default-component-color);
    background-color: var(--code-component);
    border-radius: 6px;
    padding: var(--padding-10);
    resize: none;
    overflow-y: scroll;
}

.json-editor:focus{
    outline-width: 2px;
    outline-color: var(--default-boder-color);
    outline-style: solid;
}

.json-editor::-webkit-scrollbar {
    width: 10px;
}

.json-editor::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.json-editor::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: transparent;
}