:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #DDD;
    --text-color: #707070;
    --card-text-color: #FFF;
    --default-component-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* Padding */
    --padding-5: 5px;
    --padding-10: 10px;
    --padding-15: 15px;

    /* Colors */
    --ok-color: #449c5a;
    --warning-color: #d6cc3c;
    --error-color: #c94747;

    /* Buttons */
    --button-text-color: #FFF;
    --button-primary-color: #695cfe;
    --button-primary-color-light: #463bc0;
}

body.dark{
    /* Dark mode */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --default-component-color: #3A3B3C;
    
    /* Buttons */
    --button-primary-color: #695cfe;
}