@import './styles/root.css';
@import './styles/button.css';
@import './styles/sidebar.css';
@import './styles/home.css';
@import './styles/dashboard.css';
@import './styles/toast-message.css';
@import './styles/status_card.css';
@import './styles/json-editor.css';
@import './styles/flex_props.css';
@import './styles/container.css';
@import './styles/utils.css';

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--body-color);
	height: 100vh;
	transition: var(--tran-05);
}

.white-text {
	color: var(--card-text-color);
}

.default-component {
	background-color: var(--default-component-color);
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 6px;
}

body::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: transparent;
}

.text-font {
	text-align: end;
	font-size: 28px;
}

.test{
	font-size: 20px;
}